body {
    font-family: Arial, sans-serif;
    background-color: #86d2f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.profile-card {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 30px 30px 4px rgba(5, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.picture-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #007bff;
    margin-bottom: 10px;
}

h2 {
    margin: 10px 0;
    color: #333;
}

p {
    color: #777;
    margin: 15px 0;
}

.social-icons {
    margin-top: 15px;
}

.social-icons a img {
    width: 30px;
    margin: 0 5px;
    transition: transform 0.3s;
}

.social-icons a img:hover{
    transform: scale(1.2);
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

.about-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 30px 30px 4px rgba(5, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

.about-container h1 {
    color: #333;
}

.about-container p {
    color: #555;
    text-align: justify;
}

.about-container b {
    color: black;
}

.about-container strong {
    color: black;
}

.about-container q {
    color: black;
}
